@font-face {
  font-family: embedded_font;
  src: url("/stylesheets/embedded_font.woff") format('woff');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: embedded_font;
  src: url("/stylesheets/embedded_font_bold.woff") format('woff');
  font-style: normal;
  font-weight: bold;
}
body {
  background-color: #132537;
  color: #fe8315;
  font-family: embedded_font, sans-serif;
  font-size: 16px;
}
body,
html {
  padding: 0px;
  margin: 0px;
}
.section:last-child {
  padding-bottom: 120px;
}
h1 {
  font-size: 64px;
}
h2 {
  font-size: 32px;
}
.colindicate {
  display: inline-block;
  margin: 0px 8px;
  width: 18px;
  height: 18px;
  border-radius: 9px;
}
.section {
  width: 70%;
  padding: 60px 15%;
  margin: 0 auto;
}
.section.title {
  color: #ebcab8;
  background-color: #fa3113;
  text-align: center;
}
.section.title h1 {
  margin-bottom: 0px;
}
.section.title .namesub {
  font-size: 24px;
  font-weight: bold;
}
.section.title .namesub:before {
  content: 'A ';
  font-weight: normal;
}
.section.title .namesub .brewer:before {
  content: ' by ';
  font-weight: normal;
}
.section.batch-info {
  background-color: #132537;
  color: #fe8315;
  font-size: 18px;
  position: relative;
}
.section.batch-info h3 {
  color: #ebcab8;
  margin: 0px;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 3px solid #fe8315;
}
.section.batch-info .batch-info,
.section.batch-info .recipe-info {
  display: inline-block;
  vertical-align: top;
  width: 35%;
}
.section.batch-info .batch-info {
  margin-right: 4%;
  margin-left: 13%;
}
.section.batch-info .key,
.section.batch-info .val {
  display: inline-block;
  width: 35%;
}
.section.batch-info .key {
  color: #006c80;
}
.section.batch-info .val {
  margin-right: 15%;
  font-weight: bold;
}
.section.fermentables {
  background-color: #ebcab8;
  color: #132537;
  text-align: center;
  font-size: 18px;
}
.section.fermentables h2 {
  margin-top: 0px;
}
.section.fermentables .key,
.section.fermentables .val {
  display: inline-block;
  width: 48%;
  padding: 0px 1%;
}
.section.fermentables .key {
  text-align: right;
}
.section.fermentables .val {
  text-align: left;
  font-weight: bold;
}
.section.mash {
  padding-top: 0px;
  background-color: #ebcab8;
  color: #132537;
  font-size: 18px;
  text-align: center;
}
.section.mash h2 {
  margin-top: 0px;
}
.section.mash .mash-step {
  width: 27%;
  display: inline-block;
  font-size: 16px;
  padding: 20px 2%;
  margin-right: 1%;
  margin-left: 1%;
  background-color: #fe8315;
  vertical-align: top;
  text-align: left;
}
.section.mash .mash-step h3 {
  margin-top: 0px;
  margin-bottom: 0.4em;
  border-bottom: 2px solid #ebcab8;
  line-height: 24px;
}
.section.mash .mash-step h3 .step-name {
  display: inline-block;
  width: 80%;
  line-height: 22px;
  font-size: 18px;
}
.section.mash .mash-step h3 .num {
  font-size: 30px;
  color: #ebcab8;
  display: inline-block;
  min-width: 20%;
}
.section.mash .mash-step h3 .mash-step-type {
  font-size: 8px;
  text-transform: uppercase;
  color: #ebcab8;
  line-height: 14px;
  vertical-align: top;
}
.section.mash .mash-step .key,
.section.mash .mash-step .value {
  width: 50%;
  display: inline-block;
}
.section.mash .mash-step .value {
  font-weight: bold;
  text-align: right;
}
.section.additions {
  font-size: 18px;
  text-align: center;
}
.section.additions h3.step {
  color: #fe8315;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
  border-bottom: 2px solid #fe8315;
  width: 55.5%;
  padding: 0 7% 0.4em 7%;
  margin: 1.4em auto 0.6em;
}
.section.additions h3.time {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin: 0px;
  margin-right: 2%;
  text-align: left;
  line-height: 48px;
  color: #006c80;
}
.section.additions h3.time .icon-time {
  margin-right: 15px;
}
.section.additions h3.time .icon-arrow-right {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 18px;
  float: right;
}
.section.additions .addition {
  text-align: left;
  display: inline-block;
  width: 100%;
  line-height: 32px;
}
.section.additions .addition .name {
  font-weight: bold;
}
.section.additions .addition .aa {
  vertical-align: top;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin: 0px 5px;
}
.section.additions .addition .aa:after {
  content: '%';
  font-size: 12px;
}
.section.additions .addition .amount {
  width: 19%;
  display: inline-block;
}
.section.additions .addition .use {
  text-transform: uppercase;
  display: inline-block;
  float: right;
  font-size: 12px;
  color: #006c80;
}
.section.additions .addition-group {
  display: inline-block;
  padding-top: 10px;
  margin-bottom: 16px;
  width: 30%;
  margin-left: 2%;
  vertical-align: top;
}
.section.yeast {
  text-align: center;
  font-size: 18px;
  background-color: #fe8315;
  color: #132537;
}
.section.yeast .code {
  font-weight: bold;
  margin-right: 16px;
}
.section.yeast .code + .name {
  font-weight: normal;
}
.section.yeast .name {
  font-weight: bold;
}
.section.yeast .amount {
  margin-left: 25px;
  font-weight: bold;
}
.section.yeast .amount:before {
  content: '—';
  display: inline-block;
  margin-right: 25px;
}
